@font-face {
    font-family: 'Italiano';
    src:url('./Italianno-Regular.ttf');
    font-weight: 600;
    font-style:normal;
}

body {
    background-color: rgba(255, 235, 205, 0.342);
    height:100vh;
    width:100vw;
    position:relative;
    margin:0;
}

#content #mainDiv{
    font-family: Italiano;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:2.2rem;
}

#content div img {
    width: min(761px,90%);
}

#content h3 {
    font-size:4rem;
}

footer {
    font-family:'Courier New', Courier, monospace;
    font-size:.5rem;
    position:absolute;
    bottom:2%;
    text-align: center;
}

#tabs {
    margin-top:3vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:40vw;
}

#tabs button {
    font-size:2rem;
    appearance:none;
    font-family: Italiano;
    border:none;
    background-color: rgba(255, 235, 205, 0);
}

#tabs .selected {
    color:rgb(112, 112, 112);
}

button:hover {
    cursor:pointer;
    color:rgb(80, 80, 80);
    transition: color 1s;
}

#contactDiv {
    width:min(575px,90%);
    font-size:1.1rem;
}

#contactDiv #hchefpic {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: min(391px,60%);
    border-radius:10px;
}

#contactDiv p {
    font-family:'Courier New', Courier, monospace;
    font-size:.8rem;
}

#smallpicfooter {
    font-size:.6rem;
    text-align:center;
    font-style:italic;
    color:rgb(112, 112, 112);;
}

#mainDiv #pastapic {
    width:min(316px,50%);
}

#mainDiv #pastadesc {
    width:min(575px,90%);
    font-family:'Courier New', Courier, monospace; 
    text-align: center;
    font-size:.8rem;
}

#mainDiv p {
    text-align:center;
    width:min(761px,90%);
}

.disappear {
    opacity:0%;
    transition:opacity 1.3s;
}

.reappear {
    opacity:100%;
    transition:opacity 1.3s;
}




@media screen and (max-width: 760px) {

    #contactDiv p {
        text-align:left;
    }

    #content h3 {
        font-size:3rem;
        margin-top:20px;
        margin-bottom:20px;
    }
};

@media screen and (max-height: 820px) {

    footer{
        position:static;
        margin-top:30px;
    }

};